.testimony-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../../Images/paper-colorized-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .testimony-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 200px;
  }
  
  .testimony-form h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #17252a;
  }
  
  .testimony-form input,
  .testimony-form textarea {
    -webkit-appearance: none;
    max-width: 425px;
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 0.5em;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 10px;
    background: #f9f9f9;
    color: #3aafa9;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
  }
  
  .testimony-form button {
    padding: 10px;
    width: 50%;
    align-self: center;
    border-radius: 3px;
    border: none;
    background-color: #2b7a78;
    font-weight: bold;
    color: #17252a;
    font-family: 'Montserrat', sans-serif;
  }
  
  @media all and (min-width: 768px) {
    .testimony-form button:hover {
      cursor: pointer;
      background-color: #2b7a78;
      color: #feffff;
      transition: 200ms;
    }
  
    .testimony-form {
      width: 20%;
    }
  
    .testimony-form button {
      width: 20%;
    }
  }