.home {
  background-image: url('../../Images/gym2.jpg');
  background-position: -90px -200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.slideshow {
  border: 1px solid black;
  height: 200px;
}

.main-content-home {
  display: flex;
  flex-direction: column;
  background-image: url('../../Images/paper-colorized-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about {
  background-color: #feffff;
  box-shadow: 5px 0 25px 10px rgba(0, 0, 0, 0.25);
}

.about-content {
  display: flex;
}

.about-content img {
  height: 500px;
  margin: 20px;
}

.home h3 {
  color: #2b7a78;
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  margin-bottom: 5px;
}

.home h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 2px solid #2b7a78;
  color: #2b7a78;
}

.home p {
  font-family: 'Montserrat', sans-serif;
  line-height: 32px;
  color: #17252a;
  padding: 10px;
}

.updates {
  background-image: url('../../Images/news.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.promos {
  background-image: url('../../Images/squat.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.promos,
.updates {
  padding: 20px;
  margin: 10px;
  border: 2px solid #17252a;
  box-shadow: 5px 0 25px 10px rgba(0, 0, 0, 0.25);
}

.home button {
  border: none;
  padding: 8px;
  margin: 3px;
  border-radius: 3px;
  background-color: #3aafa9;
  color: black;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .home {
    height: 100vh;
    background-position: center;
  }

  .slideshow {
    height: 500px;
  }

  .main-content-home {
  }

  .promo-container,
  .update-container {
    width: 40%;
  }

  .promos,
  .updates {
    height: 150px;
    width: 650px;
    transition: all 200ms ease-in-out;
  }

  .promos:hover,
  .updates:hover {
    cursor: pointer;
    opacity: 0.6;
    background-size: 120%;
  }
}
