.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 100%);
  width: 100%;
  position: fixed;
}

.logo {
  height: 50px;
}

.login-signup button,
.logout button {
  border: none;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  background-color: #3aafa9;
  color: black;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .login-signup button:hover,
  .logout button:hover {
    cursor: pointer;
  }

  .logo {
    height: 80px;
  }
}
