.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 100%);
  position: sticky;
}

.logo {
  height: 50px;
}

.login-signup button {
  font-size: 10px;
  width: 50px;
  border: none;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  border: 2px solid #2b7a78;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.sign-in-btn {
  color: green;
}

.sign-up-btn {
  color: #17252a;
}

.logout {
  display: flex;
  margin-right: 10px;
}

.logout button {
  font-size: 10px;
  width: 50px;
  border: none;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  border: 2px solid #2b7a78;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.profile-btn {
  color: #17252a;
}

.logout-btn {
  color: red;
}

@media all and (min-width: 768px) {
  .login-signup button {
    font-size: 15px;
    width: 100px;
    border: none;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
    border: 2px solid #2b7a78;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .logout button {
    font-size: 15px;
    width: 100px;
    border: none;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
    border: 2px solid #2b7a78;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .logout button {
    border: none;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
    border: 2px solid #2b7a78;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }


  .login-signup button:hover,
  .logout button:hover {
    cursor: pointer;
    background-color: #2b7a78;
    color: #feffff;
    transition: 200ms;
  }

  .logo {
    height: 80px;
  }
}
