.burger-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: 10px;
}

.menu-btn-burger {
  margin-left: 10px;
  width: 25px;
  height: 6px;
  background: #3aafa9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  margin-left: -12.7px;
  position: absolute;
  width: 25px;
  height: 6px;
  background: #3aafa9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-10px);
}

.menu-btn-burger::after {
  transform: translateY(10px);
}

.burger-container.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.burger-container.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.burger-container.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #3aafa9;
  margin-top: 54px;
  width: 100%;
  left: 0;
  right: 0;
  font-size: 15px;
}

.nav-list p {
  margin: 2px;
  text-decoration: none;
  color: #def2f1;
  list-style-type: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.visible {
  display: none;
}

@media all and (min-width: 768px) {
  .burger-container {
    width: 50px;
    margin-top: 50px;
    margin-left: 20px;
  }

  .menu-btn-burger {
    width: 100px;
    height: 6px;
  }

  .menu-btn-burger::before,
  .menu-btn-burger::after {
    width: 45px;
    margin-left: -45%;
  }

  .nav-list {
    margin-top: 3px;
    width: 100%;
    font-size: 35px;
  }

  .nav-list li:hover {
    color: #2b7a78;
    transition: 0.5s;
  }
}
