.burger-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: -2.5%;
}

.menu-btn-burger {
  width: 35px;
  height: 6px;
  background: #2b7a78;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  margin-left: -17.5px;
  position: absolute;
  width: 35px;
  height: 6px;
  background: #2b7a78;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-10px);
}

.menu-btn-burger::after {
  transform: translateY(10px);
}

.burger-container.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.burger-container.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.burger-container.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #17252a;
  margin-top: 54px;
  width: 100%;
  left: 0;
  right: 0;
  font-size: 14px;
  box-shadow: 5px 20px 25px 10px rgba(0, 0, 0, 0.25);
}

.nav-list p {
  margin: 2px;
  text-decoration: none;
  color: #feffff;
  list-style-type: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.visible {
  display: none;
}

@media all and (min-width: 768px) {
  .burger-container {
    display: none;
  }

  .visible {
    display: flex;
  }

  .nav-list {
    flex-direction: row;
    background-color: rgba(255, 255, 255, 100%);
    box-shadow: none;
    justify-content: center;
    margin-top: 70px;
    padding: 5px;
    border-bottom: 3px solid #17252a;
  }

  .nav-list p {
    color: #17252a;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
  }

  .nav-list p:hover {
    color: #2b7a78;
    transition: 200ms;
    text-shadow: 0px 10px rgba(0, 0, 0, 0.25);
  }
}
