.footer {
  background-color: white;
  height: 120px;
  display: flex;
  justify-content: center;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-container h4 {
    font-size: 15px;
    color: #17252a;
    font-family: 'Montserrat';
}