/* *Imports */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* *All */

.App {
  text-align: center;
}

html,
body {
  height: 100%;
  background: radial-gradient(ellipse at top, #3AAFA9 0%, #17252a 100%);
  
}

.sign-up-page h2, .login-page h2 {
  font-family: 'Bebas Neue', cursive;
}

.sign-up-page,
.login-page {
  display: flex;
  flex-direction: column;
}

.sign-up-form,
.login-form {
  width: 50%;
  align-self: center;
}

input,
select {
  margin-bottom: 1.6rem;
  height: 2.8rem;
  padding-left: 0.8rem;
  border-radius: 0.4rem;
  border: none;
  background-color: #feffff;
  color: #17252A;
}
.login-form button,
.sign-up-form button {
  background-color: #3AAFA9;
  color: #17252A;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}
/* *Footer */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
