.admin-profile {
  background-image: url('../../Images/paper-colorized-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.admin-container h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 10px;
  color: #17252a;
}

.admin-profile p {
  font-family: 'Montserrat', sans-serif;
  color: #17252a;
  font-size: 15px;
}

.admin-profile button {
  margin: 10px;
  padding: 10px;
  width: 100px;
  align-self: center;
  border-radius: 3px;
  border: none;
  background-color: #2b7a78;
  font-weight: bold;
  color: #17252a;
  font-family: 'Montserrat', sans-serif;
}

@media all and (min-width: 768px) {
  .admin-profile {
    margin-top: 20px;
  }

  .admin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .admin-profile button:hover {
    cursor: pointer;
    background-color: #2b7a78;
    color: #feffff;
    transition: 200ms;
  }

  .admin-main-info-box,
  .view-users-box,
  .store-stats-box {
    background-color: #feffff;
    padding: 20px;
    margin: 50px;
    border: none;
    border-radius: 2px;
  }

  .admin-control-box {
    display: flex;
    justify-content: center;
  }

  .admin-bio-box p {
    text-align: center;
    margin: 20px;
    line-height: 8px;
  }

  .view-users-box,
  .store-stats-box {
    width: 700px;
  }

  .view-users-box h3,
  .store-stats-box h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #17252a;
  }

  .profile-image {
    height: 200px;
    width: 200px;
  }
}
